* {
	-webkit-box-sizing: border-box; 
  	 -moz-box-sizing: border-box;    
  				box-sizing: border-box; 
  font-family: 'Oswald', sans-serif;
}

div#slide-1 {
	background-color: #306983;
	text-align: center;
	font-size: 12em;
	color: #F2F2F2;
}


div#slide-2 {
	background-color: #F2385A;
	font-size: 9em;
	color: #F2F2F2;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

div#slide-3 {
	background-color: #F2F2F2; 
	font-size: 6em;
	color: #303030;
	margin-top: -1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

div#slide-4 {
	background-color: #4ED963;
	font-size: 6em;
	color: #F2F2F2;
	text-align: center;
}

div#slide-4 p#connect {
	margin-top: -1.5em;
	padding-bottom: 1em;
}

div.contact {
	
	height: 1em;
	width: 2.25em;
	display: inline-block;
}

div.contact img {
	height: 1em;
}

div#work {
	width: auto;
	margin-top: -1.5em;
}

div#work p {
	font-size: 0.5em; 
}

div#slide-4 a.work-example {
	text-decoration: none;
	color: #F2F2F2;
}

div#slide-4 a.work-example div {
	width: 49.5%;
	display: inline-block;
	height: 1em;
	float: left;
}

nav {
	position: fixed;
	bottom: 0;
	left: 0.75em;
	right: 0.75em;
}
/* div#slide-4 a.work-example {
	text-decoration: none;
	color: #F2F2F2;
	display: block;
	width: 4em;
	height: 2em;
	font-size: 1em;

} */
