@media screen and (min-width: 1368px) and (max-width: 100000000px) {
	body {
		background-color: #FFFAFA;
	}

	#left {
		width: 25%;
		height: 35em;
		float: left;
		position: fixed;
		margin-left: 2%;
		margin-top: 2%;
		margin-bottom: 2%;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.8);
	}

	#backdrop {
		width: auto;
		height: auto;
		z-index: 0;
		position: fixed;
		margin-left: 90%;
		margin-top: -10%;
	}

	#title {
		width: 55%;
		height: 30%;
		float: left;
		position: absolute;
		margin-left: 0%;
		z-index: 2;
		padding: 2em;
	}

	#title #heading {
		/*width: 20%;*/
		/*font-size: 2.5em;*/
	}

	#heading {
		color: #FFFAFA;
		font-size: 3em;
		font-family: 'Raleway', sans-serif;
		letter-spacing: -0.01em;
	}
	
	#watercolor {
		width: 71.5%;
		/*height: 45em;*/
		margin-right: -1em;
		margin-top: -1em;
		float: right;
		position: relative;
		z-index: 1;
	}
	
	#watercolor img {
		height: 29em;
		width: 100%;
		z-index: 2;
	}
	
	#social {
		width: 100%;
		height: 50%;
		/*float: left;*/
		position: absolute;
		/*margin-left: 5%;*/
		/*bottom: 0px;*/
		bottom: 1em;
		z-index: 1;
		padding-left: 2.2em;
		padding-right: 2em;
	}
	
	table {
		width: 100%;
	}

	td {
		/*border: solid #FFFAFA;*/
	}

	#social img {
		height: 3.1em;
		width: 3.1em;
		/*margin-top: 15%;*/
		margin-left: 30%;
	}
	
	span .spacer {
		width: 1em;
	}
	
	#content {
		width: 61.5%;
		float: right;
		position: relative;
		float: right;
		margin-right: 10px;
		z-index: 3;
		padding: 2em;
	}

	#blogs {
		float: right;
		width: 65%;
		margin-right: 25%;
		padding-top: 2em;
	}
	
	.post {
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.2);
		border: solid #333331;
	}
	
	.date {
		width: 33%;
		text-align: center;
		display: inline-block;
		padding-left: 0.5em;
		font-size: 1.25em;
		font-family: 'Raleway', sans-serif;
		color: #333331;
	}
	
	.post-title {
		width: 56%;
		margin-left: 4%;
		text-align: left;
		display: inline-block;
		font-size: 1.2em;
		font-family: 'Raleway', sans-serif;
		color: #333331;
	}
	
	.synopsis {
		width: 56%;
		margin-left: 42%;
		margin-bottom: 2%;
		font-size: 1em;
		font-family: 'Raleway', sans-serif;
		color: #333331;
	}
	
	a {
		text-decoration: none;
	}
	
	#blogs a:hover .post {
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.8);
		border: solid white;
	}

	#blogs a:hover .post p {
		color: white;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1367px) {
	body {
		background-color: #FFFAFA;
	}

	#left {
		width: 25%;
		height: 35em;
		float: left;
		position: fixed;
		margin-left: 2%;
		margin-top: 2%;
		margin-bottom: 2%;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.8);
	}

	#backdrop {
		width: auto;
		height: auto;
		z-index: 0;
		position: fixed;
		margin-left: 90%;
		margin-top: -10%;
	}

	#title {
		width: 55%;
		height: 30%;
		float: left;
		position: absolute;
		margin-left: 0%;
		z-index: 2;
		padding: 2em;
	}

	#title #heading {
		/*width: 20%;*/
		/*font-size: 2.5em;*/
	}

	#heading {
		color: #FFFAFA;
		font-size: 3em;
		font-family: 'Raleway', sans-serif;
		letter-spacing: -0.01em;
	}
	
	#watercolor {
		width: 71.5%;
		/*height: 1000em;*/
		margin-right: -1em;
		margin-top: -1em;
		float: right;
		position: relative;
		z-index: 1;
	}
	
	#watercolor img {
		height: auto;
		width: 100%;
		z-index: 2;
	}
	
	#social {
		width: 100%;
		height: 50%;
		/*float: left;*/
		position: absolute;
		/*margin-left: 5%;*/
		/*bottom: 0px;*/
		bottom: 1em;
		z-index: 1;
		padding-left: 2.2em;
		padding-right: 2em;
	}
	
	table {
		width: 100%;
	}

	td {
		/*border: solid #FFFAFA;*/
	}

	#social img {
		height: 3.1em;
		width: 3.1em;
		/*margin-top: 15%;*/
		margin-left: 30%;
	}
	
	span .spacer {
		width: 1em;
	}
	
	#content {
		width: 61.5%;
		float: right;
		position: relative;
		float: right;
		margin-right: 10px;
		z-index: 3;
		padding: 2em;
	}

	#blogs {
		float: right;
		width: 65%;
		margin-right: 25%;
		padding-top: 2em;
	}
	
	.post {
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.2);
		border: solid #333331;
	}
	
	.date {
		width: 33%;
		text-align: center;
		display: inline-block;
		padding-left: 0.5em;
		font-size: 1.25em;
		font-family: 'Raleway', sans-serif;
		color: #333331;
	}
	
	.post-title {
		width: 56%;
		margin-left: 4%;
		text-align: left;
		display: inline-block;
		font-size: 1.2em;
		font-family: 'Raleway', sans-serif;
		color: #333331;
	}
	
	.synopsis {
		width: 56%;
		margin-left: 42%;
		margin-bottom: 2%;
		font-size: 1em;
		font-family: 'Raleway', sans-serif;
		color: #333331;
	}
	
	a {
		text-decoration: none;
	}
	
	#blogs a:hover .post {
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.8);
		border: solid white;
	}

	#blogs a:hover .post p {
		color: white;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
	body {
		background-color: #FFFAFA;
	}

	#left {
		width: 25%;
		height: 35em;
		float: left;
		position: fixed;
		margin-left: 2%;
		margin-top: 2%;
		margin-bottom: 2%;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.8);
	}

	#backdrop {
		width: auto;
		height: auto;
		z-index: 0;
		position: fixed;
		margin-left: 90%;
		margin-top: -10%;
	}

	#title {
		/*width: 55%;*/
		/*height: 30%;*/
		float: left;
		position: absolute;
		margin-left: 0%;
		z-index: 2;
		padding: 2em;
	}

	#title #heading {
		/*width: 20%;*/
		/*font-size: 2.5em;*/
	}

	#heading {
		color: white;
		font-size: 2.2em;
		font-family: 'Raleway', sans-serif;
		letter-spacing: -0.01em;
	}
	
	#watercolor {
		width: 71.5%;
		/*height: 10em;*/
		margin-right: -1em;
		margin-top: -1em;
		float: right;
		position: relative;
		z-index: 1;
	}
	
	#watercolor img {
		height: 24em;
		width: 100%;
		z-index: 2;
	}
	
	#social {
		width: 100%;
		height: 50%;
		/*float: left;*/
		position: absolute;
		/*margin-left: 5%;*/
		/*bottom: 0px;*/
		bottom: 1em;
		z-index: 1;
		padding-left: 2em;
		padding-right: 2em;
	}
	
	table {
		width: 100%;
	}

	td {
		/*border: solid #FFFAFA;*/
	}

	#social img {
		height: 3.1em;
		width: 3.1em;
		/*margin-top: 15%;*/
		margin-left: 20%;
	}
	
	span .spacer {
		width: 1em;
	}
	
	#content {
		width: 61.5%;
		float: right;
		position: relative;
		float: right;
		margin-right: 10px;
		z-index: 3;
		padding: 2em;
	}

	#blogs {
		float: right;
		width: 65%;
		margin-right: 25%;
		padding-top: 2em;
	}
	
	.post {
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.2);
		border: solid #333331;
	}
	
	.date {
		width: 33%;
		text-align: center;
		display: inline-block;
		padding-left: 0.5em;
		font-size: 1.25em;
		font-family: 'Raleway', sans-serif;
		color: #333331;
	}
	
	.post-title {
		width: 56%;
		margin-left: 4%;
		text-align: left;
		display: inline-block;
		font-size: 1.2em;
		font-family: 'Raleway', sans-serif;
		color: #333331;
	}
	
	.synopsis {
		width: 56%;
		margin-left: 42%;
		margin-bottom: 2%;
		font-size: 1em;
		font-family: 'Raleway', sans-serif;
		color: #333331;
	}
	
	a {
		text-decoration: none;
	}
	
	#blogs a:hover .post {
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.8);
		border: solid white;
	}

	#blogs a:hover .post p {
		color: white;
	}
}